<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container mt-5">
    <div class="alert alert-sucess display-1">LISTADO DE EMPLEADOS</div>

    {%if empleados %}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fono</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in empleados%}
            <tr>
                <td scope="row">{{emp.id}}</td>
                <td>{{emp.nombre}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.fono}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
        <div class="alert alert-info">no hay empleados</div>
    {%endif%}
    
</body>
</html>